### Homework 6
Nathan Deinlein

In [1]:
#imports
import math
import re
from collections import Counter
import itertools
import pandas as pd
pd.set_option('display.max_columns', None)

### 1.	Evaluate text similarity of Amazon book search results by doing the following:

#### a.	Do a book search on Amazon via the search box. Manually copy the full book title (including subtitle) of each of the top 24 books listed in the first two pages of search results.

In [2]:
#Book title searched - "the soul of wit gk chesterton"
List_of_Book_Titles = ['The Soul of Wit: G. K. Chesterton on William Shakespeare (Dover Books on Literature & Drama)','The Soul of a Schoolboy by G. K. Chesterton: Super Large Print Edition of the Classic Political Mystery Specially Designed for Low Vision Readers with ... Easy to Read Font (The Man Who Knew Too Much)','Bodies and Souls','Rare Agatha CHRISTIE / Bodies & Souls Fourteen Tales of Worldly and Other-Worldly 1st','**REPRINT** Lockington, W. J. (William J.), d. 1948. The soul of Ireland, by W.J. Lockington, S.J.; with an introduction by G.K. Chesterton. New York, The Macmillan company, 1920.**REPRINT*',"Chesterton's Gateway: 14 Essays to Get You Hooked on Chesterton",'The Complete Father Brown Mysteries [Annotated, With Introduction, Rare Additional Material]','St. Thomas Aquinas','The Napoleon of Notting Hill','The Soul of Ireland (Illustrated)','The Man Who Was Thursday, A Nightmare (AmazonClassics Edition)','A Church in Crisis: Pathways Forward','Confessions of a Convert: The Classic Spiritual Autobiography from the Author of "Lord of the World"','The Napoleon of Notting Hill illustrated','The soul of Russia',"The Faith of Christopher Hitchens: The Restless Soul of the World's Most Notorious Atheist",'Soul Food : Wisdom and Inspiration to Feed Your Spirit','The Scrappy Evangelist: Chesterton and a New Apologetics for Today','50 Masterpieces you have to read before you die vol: 2','The Ball and the Cross',"The Disciple (God's Word for Today)","The Disciple (God's Word for Today)",'The Everlasting Man','The Bible: A Book Like No Other']
len(List_of_Book_Titles)

24

#### b.	In Python, run one of the text-similarity measures covered in this course, e.g., cosine similarity. Compare each of the book titles, pairwise, to every other one.

In [3]:
WORD = re.compile(r"\w+")


def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

def vectorization(text1,text2):
    vector1 = text_to_vector(text1)
    vector2 = text_to_vector(text2)
    cosine = get_cosine(vector1, vector2)
    return(cosine)

In [4]:
result = [(b1, b2) for b1 in List_of_Book_Titles for b2 in List_of_Book_Titles if b1 != b2]
columns = ['Book1','Book2','Cosine']
df = pd.DataFrame(columns=columns)
for x in result:
    b1 = str(x[1:])
    b2 = str(x[:1])
    cosine = vectorization(b1,b2)
    vals = [b1,b2,cosine]
    df = df.append(pd.DataFrame([vals],columns=['Book1','Book2','Cosine']),ignore_index = True)
df['Book1'] = df['Book1'].str.replace("\\(", "")
df['Book1'] = df['Book1'].str.replace("\\)", "")
df['Book1'] = df['Book1'].str.replace("\\,", "")
df['Book2'] = df['Book2'].str.replace("\\(", "")
df['Book2'] = df['Book2'].str.replace("\\)", "")
df['Book2'] = df['Book2'].str.replace("\\,", "")

df

,Book1,Book2,Cosine
0,'The Soul of a Schoolboy by G. K. Chesterton: ...,'The Soul of Wit: G. K. Chesterton on William ...,0.310694
1,'Bodies and Souls','The Soul of Wit: G. K. Chesterton on William ...,0.000000
2,'Rare Agatha CHRISTIE / Bodies & Souls Fourtee...,'The Soul of Wit: G. K. Chesterton on William ...,0.062622
3,'**REPRINT** Lockington W. J. William J. d. 19...,'The Soul of Wit: G. K. Chesterton on William ...,0.231034
4,"""Chesterton's Gateway: 14 Essays to Get You Ho...",'The Soul of Wit: G. K. Chesterton on William ...,0.269069
...,...,...,...
545,'50 Masterpieces you have to read before you d...,'The Bible: A Book Like No Other',0.000000
546,'The Ball and the Cross','The Bible: A Book Like No Other',0.169031
547,"""The Disciple God's Word for Today""",'The Bible: A Book Like No Other',0.142857
548,"""The Disciple God's Word for Today""",'The Bible: A Book Like No Other',0.142857
549,'The Everlasting Man','The Bible: A Book Like No Other',0.218218

c.	Which two titles are the most similar to each other? Which are the most dissimilar? Where do they rank, among the first 24 results?

In [5]:
top5 = df.sort_values(by=['Cosine'],ascending=False)
top5.head(5)

,Book1,Book2,Cosine
196,'The Napoleon of Notting Hill illustrated','The Napoleon of Notting Hill',0.912871
307,'The Napoleon of Notting Hill','The Napoleon of Notting Hill illustrated',0.912871
357,'Confessions of a Convert: The Classic Spiritu...,"""The Faith of Christopher Hitchens: The Restle...",0.515122
290,"""The Faith of Christopher Hitchens: The Restle...",'Confessions of a Convert: The Classic Spiritu...,0.515122
221,"""The Faith of Christopher Hitchens: The Restle...",'The Soul of Ireland Illustrated',0.512989

In [6]:
bottom5 = df.sort_values(by=['Cosine'],ascending=True)
bottom5.head()

,Book1,Book2,Cosine
274,'The Everlasting Man','A Church in Crisis: Pathways Forward',0.0
448,'A Church in Crisis: Pathways Forward','The Ball and the Cross',0.0
186,'Bodies and Souls','The Napoleon of Notting Hill',0.0
408,'50 Masterpieces you have to read before you d...,'The Scrappy Evangelist: Chesterton and a New ...,0.0
189,"""Chesterton's Gateway: 14 Essays to Get You Ho...",'The Napoleon of Notting Hill',0.0

Above you can see that the closest two are "the Napoleon of Notting Hill" books. While these two are GK Chesterton books they rank no where near the top of the original search title. The most dissimilar were 'The Everlasting Man, and 'A Church in Crisis: Pathways Forward' These two were also not close to the original search.

### 2.	Now evaluate using a major search engine.
#### a.	Enter one of the book titles from question 1a into Google, Bing, or Yahoo!. Copy the capsule of the first organic result and the 20th organic result. Take web results only (i.e., not video results), and skip sponsored results.

In [7]:
newlist = ['The Soul of Wit: G. K. Chesterton on William Shakespeare (Dover Books on Literature & Drama)','The Soul of Wit: G. K. Chesterton on William Shakespeare (Dover Books on Literature & Drama) Paperback – December 19, 2012 · Kindle $8.76 Read with Our',"The first one-volume reader of the best of G. K. Chesterton's writing in the full range of genres he mastered. Chesterton was a towering literary figure of"]

#### b.	Run the same text similarity calculation that you used for question 1b on each of these capsules in comparison to the original query (book title).

In [8]:
result = [(b1, b2) for b1 in newlist for b2 in newlist if b1 != b2]
columns = ['Text1','Text2','Cosine']
df = pd.DataFrame(columns=columns)
for x in result:
    b1 = str(x[1:])
    b2 = str(x[:1])
    cosine = vectorization(b1,b2)
    vals = [b1,b2,cosine]
    df = df.append(pd.DataFrame([vals],columns=['Text1','Text2','Cosine']),ignore_index = True)
df['Text1'] = df['Text1'].str.replace("\\(", "")
df['Text1'] = df['Text1'].str.replace("\\)", "")
df['Text1'] = df['Text1'].str.replace("\\,", "")
df['Text2'] = df['Text2'].str.replace("\\(", "")
df['Text2'] = df['Text2'].str.replace("\\)", "")
df['Text2'] = df['Text2'].str.replace("\\,", "")

df

,Text1,Text2,Cosine
0,'The Soul of Wit: G. K. Chesterton on William ...,'The Soul of Wit: G. K. Chesterton on William ...,0.793492
1,"""The first one-volume reader of the best of G....",'The Soul of Wit: G. K. Chesterton on William ...,0.325396
2,'The Soul of Wit: G. K. Chesterton on William ...,'The Soul of Wit: G. K. Chesterton on William ...,0.793492
3,"""The first one-volume reader of the best of G....",'The Soul of Wit: G. K. Chesterton on William ...,0.258199
4,'The Soul of Wit: G. K. Chesterton on William ...,"""The first one-volume reader of the best of G....",0.325396
5,'The Soul of Wit: G. K. Chesterton on William ...,"""The first one-volume reader of the best of G....",0.258199

#### c.	Which one has the highest similarity measure?
Submit all of your inputs and outputs and your code for this assignment, along with a brief written explanation of your findings. 

The first search item was the most relevent as it was the amazon link for the book originally searched. This was interestingly enough not an ad. I found it interesting with both searches that there were not many similar matches. To my knowledge this is a fairly well read book. I'm actually about to start being in a book group that is reading this right now. So the fact that there were not more versions of the book or books similar was surprising to me. I think had I selected a fiction book that the algorithm probably would have come up with more results for both. However, with the google search there seemed to be a lot more relevent data than with the amazon search. Yet again, strange, because this was a book we were searching for in the first place.